.header {
  padding: 1.3rem 0;
  background-color: #fff;
  color: $color-text;
  border-bottom: 1px solid $color-border;

  &__mobile {
    header {
      font-size: 1rem;
      color: $color-text;
      border: none;
    }
    @media (max-width: $break-sm) {
      display: flex;
      justify-content: space-between;
      border: none;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem;

    img {
      border-radius: 100%;
      width: 50px;
      margin-right: 1rem;
    }
    button {
      font-size: 2rem;
      color: $color-accent;
      border: #fff;
      background-color: #fff;
    }
  }
  .box-shadow {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  &__main {
    margin: 0 1rem;

    .header-profile {
      line-height: 1.5rem;
      span {
        font-size: 1rem;
      }

      @media (max-width: $break-sm) {
        display: none;
      }
    }
  }
  @media (max-width: $break-sm) {
    padding: 0;
  }
}
.hide {
  display: none;
}
.burger-menu {
  display: none;

  @media (max-width: $break-sm) {
    display: block;
  }
}

.header-show {
  display: none;

  @media (max-width: $break-sm) {
    display: block;
  }
}
