.addform {
  .inputaddform {
    padding: 1rem 30px;

    .inputaddname {
      margin: 1rem 0;

      input {
        border-radius: 50px;
        padding: 1rem;
        width: 100%;
        border: 1px solid #fff;
        border-bottom: 1px solid $color-border;
      }
    }
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100vh;
  background-color: rgba(250, 250, 250, 0.6);
  z-index: 9999999;
  width: 100%;
  display: grid;
  place-items: center;
  &__main {
    max-width: 40rem;
    width: 96%;
    background-color: $color-light;
    margin: 0 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
  }

  table {
    width: 100%;
  }
  .modal-title {
    padding: 1rem;
    color: $color-text;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-border;
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        margin-right: 5px;
      }
    }
  }

  &__header {
    position: relative;
    padding: 2rem;
    padding-bottom: 0;
    .btn__close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: transparent;
      border: none;
      transform: rotate(45deg);
      font-size: 1.8rem;
      cursor: pointer;
      &:hover {
        color: $color-primary;
      }
    }

    &__content {
      margin-top: 2rem;
      h2 {
        font-weight: bold;
        font-size: 2rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
  &__body.modal--login {
    height: 29vh;
    overflow: hidden;
  }
  &__body {
    padding: 2rem;
    height: 75vh;
    overflow: auto;
    @include scrollbar;
    .form__group.form--amount {
      span {
        position: absolute;
        left: 1rem;
        top: 3.4rem;
        font-weight: bold;
        color: $color-primary;
      }
    }

    .donation__radio.donation__amt ul {
      grid-template-columns: 1fr 1fr 1fr;
      font-size: 2rem;
    }

    .donation__radio ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-weight: bold;
      font-size: 1.4rem;

      li {
        display: flex;
        align-items: center;
        span {
          padding-left: 1rem;
          line-height: 0;
          padding-top: 1px;
        }
      }
    }
  }
  .modal__block.personal--info {
    .form__group:last-child {
      margin-bottom: 0;
    }
  }

  .donation__radio.donation--method {
    margin-bottom: 2rem;
  }

  &__block {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-light-d;
    &__header {
      margin-bottom: 2rem;
      h3 {
        font-weight: bold;
      }
      p {
        font-size: 1.2rem;
      }
    }

    .info__user {
      justify-content: space-between;
      column-gap: 2rem;
    }

    .info__card {
      grid-template-columns: 2fr 1.2fr;
      grid-column-gap: 2rem;
    }

    .card__note {
      display: flex;
      align-items: center;
      line-height: 1;
      font-size: 1.2rem;
      margin-bottom: 0;
      svg {
        fill: $color-primary;
        font-size: 1.6rem;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;

    button {
      margin: 0;
    }
  }
}
