.sidenav {
  background-color: $color-primary;
  text-transform: uppercase;
  min-height: 100vh;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: 5s ease;
  z-index: 99;

  &__header {
    padding: 1.3rem 0;
    color: $color-header;
    border-bottom: 1px solid $color-border;
    h2 {
      font-size: 4rem;
      line-height: 4rem;
      margin-right: 1rem;
      font-weight: bold;
    }
    .hide-logo {
      margin: 1rem;
    }
    // .sidenav-header {
    //   display: none;

    //   @media (max-width: $break-md) {
    //     display: block;
    //     text-align: center;
    //   }
    //   @media (max-width: $break-sm) {
    //     display: none;
    //   }
    // }

    button {
      background-color: transparent;
      border: none;
      margin-right: 1rem;
    }

    img {
      width: 100%;
    }

    svg {
      fill: $color-light;
      font-size: 2rem;
    }
  }

  &__main {
    margin-top: 1.5rem;
    border: 1px solid $color-border;
    li:last-child {
      border: none;
    }
    li {
      display: flex;
      border-bottom: 1px solid rgba($color-light, 0.2);
      cursor: pointer;
      &:hover {
        background-color: darken($color-secondary, 2);
      }
      svg {
        fill: $color-light;
        font-size: 2rem;
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
        margin: 0 1rem;

        @media (max-width: $break-md) {
          display: none;
        }

        @media (max-width: $break-sm) {
          display: block;
        }
      }

      a {
        color: $color-light;
        display: inline-block;

        padding: 1.2rem;
        width: 100%;

        @media (max-width: $break-sm) {
          display: flex;
        }
      }

      a.active {
        background-color: $color-secondary;
        color: $color-header;
        svg {
          fill: $color-header;
        }
      }

      @media (max-width: $break-md) {
        text-align: center;
      }

      @media (max-width: $break-sm) {
        text-align: left;
      }
    }
  }

  @media (max-width: $break-sm) {
    max-width: 150px;
    width: 100%;
    min-height: 114.7vh;
  }
}
@media (max-width: $break-md) {
  .sidenav-header {
    display: none;
  }
}

.show {
  display: none;
  position: fixed;
  left: 0;
  z-index: 9;
}
@media (max-width: $break-sm) {
  .show,
  .sidenav-header {
    display: block;
    top: 0;
  }
}

@media (max-width: $break-sm) {
  .disapper {
    display: none;
  }
}

.padding {
  padding: 1rem;
  color: #fff;
}

.min-height-130vh {
  min-height: 130.2vh;
}
